<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Password=<管理者密碼>;Persist Security Info=True;User ID=<管理者帳號>;Initial Catalog={0};Data Source={1}" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="FormDesignerAjaxUrl" value="http://{0}/NaNaWeb/dwrDefault/test/formDesignerAjax"/>
  </appSettings>
</configuration>